
body, ul, li, p{ /*resetando todos estilos */
    margin:0px; 
    padding:0px;
    list-style:none;
    hyphens: auto;
}  
a {
    text-decoration:none;
    color: aliceblue;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
}
img{
    max-width: 100%;
    display: block;
}
.header{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    background: rgb(101, 101, 138);
    display: flex;
    flex-wrap: wrap; /*em tela menores, os intes ficam abaixo um do outro*/
    /*justify-content:space-between; /*Espaço entre os itens*/
    align-items:center;
    padding: 20px;

}
.header{
    display: flex;
    justify-content: space-between;
}
nav.mobile{
    display: none;
}
nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    font-size: 15px;
    padding: 0 15px;
    display: inline-block;
}
nav.desktop a{
    color: white;
    text-decoration: none;
}
/*CSS flex*/
.flex{
    display: flex;
    flex-wrap:wrap; /*em tela menores, os intes ficam abaixo um do outro*/
    max-width: 100%; /* O container vai ficar no maximo 100% de largura*/
    margin: 0 auto; /*Alinhar todos os intens ao centro*/
    justify-content: center;
}
.flex div{
     flex: 1 1 200px; /* Se a tela for menor que 200px, a imagem vai quebrar para próxima linha*/
    
}
@media screen and (max-width:700px){
    .logo {
        display: block;
    }
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    .mobileUL{
        position: absolute;
        top: 68px;
        left: 0%;
        width: 100%;
        transform: translateY(-135%);
        text-align: center;
        background-color: rgb(101, 101, 138);
        border-top: 1px solid black;
        transition: transform 200ms linear;
    }
    .mobileULopen{
        transform: translateY(0);
    }
    .mobileULRemove{
        transform: translateY(-135%);
    }
    
    nav.mobile ul {
        width: 100%;
    }
    nav.mobile li{
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
    .mobileUL li a{
        color: black;
    }
    .btn-menu{
        font-size: 25px;
        cursor: pointer;
        color: white;
    }
}