table{  
    table-layout:fixed;
    width: 200px;
    padding: 10px;   
 }
table:hover{
    transform: scale(1.3);
}

 th, td{
     text-align: center; 
 }
 tr{
     background-color: #B3B1BD;
     border: solid 1px;
 }
 th{
     background-color: #FE5F55;
     color:#ffffff;
     border: solid 1px;
 }
 td{
    border: solid 1px #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    word-wrap:break-word;
    padding: 10px;
    hyphens: auto;
 }
 @media (max-width: 600px) {
    table{
        table-layout:fixed;
        width: 100%;
        padding: 10px;
    }
 }